[Unit]
Description=Paperless-ngx Rclone Backup Timer (Every 8 Hours)

[Timer]
OnCalendar=00/8:00:00
Persistent=true
Unit=paperless-backup.service

[Install]
WantedBy=timers.target
